html, body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Raleway', sans-serif !important;
}

.btn-primary {
    background-color: #377BA6;
}

.btn-primary:hover {
    background-color: #89C2D9;
    border-color: #89C2D9;
}


a {
    text-decoration: none !important;
    color: #377BA6;
}

a:hover {
    color: lightgray !important;
}


.hero-image {
    background-color: #377BA6;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/hero-image-large.png");
    padding-top: 200px;
    padding-bottom: 200px;
    background-blend-mode: soft-light;
    color: #fff;
}